html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
  border-bottom: 2px solid #4a90e2;
  background-color: #ffffff;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav li button {
  background: none;
  border: none;
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
}

nav li button:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 40px;
  padding: 20px;
  border: 2px solid #4a90e2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  color: #333;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contact-form button:hover {
  background-color: #666;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 20px;
  border-top: 2px solid #4a90e2;
  background-color: #ffffff;
}

footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin-right: 20px;
}

footer li:last-child {
  margin-right: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 20px;
  border-top: 2px solid #4a90e2;
  background-color: #ffffff;
}

.footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li {
  margin-right: 20px;
}

.footer li:last-child {
  margin-right: 0;
}

.footer a {
  color: #333;
  font-size: 50px;
  transition: color 0.2s ease;
}

.footer a:hover {
  color: #4a90e2;
}

.icon-link {
  transition: transform 0.2s ease;
}

.icon-link:hover {
  transform: scale(1.2);
}

#languages {
  margin-bottom: 40px;
}

.languages-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.languages-icons img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.pdf-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.pdf-modal-content {
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.pdf-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.pdf-modal-close:hover {
  color: #4a90e2;
}

.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  overflow: auto;
}

.pdf-container-inner {
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .pdf-modal-content,
  .doc-viewer-content {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
  }
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown-options {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-options li {
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.8rem;
}

.dropdown-options li:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-options {
  display: block;
}
.language-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.language-icon-wrapper img {
  width: 100px;
  height: 100px;
}

.language-icon-wrapper span {
  font-size: 1rem;
  margin-top: 5px;
  text-align: center;
}

.languages-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* Responsive adjustments */
@media (max-width: 767px) {
  .about-me-content {
    flex-direction: column;
    align-items: center;
  }
  
  .about-me-text {
    text-align: center;
  }
}

.about-me-text p {
  text-align: justify;
  font-family: 'Georgia', serif;
  font-size: 1.1rem;
  line-height: 1.6;
  text-indent: 30px;
}

#about-me > h2 {
  text-align: center;
}

.about-me-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-me-image img {
  max-width: 50%;
  height: 512px;
  border-radius: 50%;
}

nav li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

nav li a:hover {
  text-decoration: underline;
}

nav li a.active {
  font-weight: bold;
  text-shadow: 1px 1px #eb2e20;
}

@media screen and (min-width: 1200px) {
  .dropdown-options {
    right: 0;
  }
}